body {
	background: #ccc;
	font-size: 16px;
	padding: 0;
	margin: 0;
	color: black;
}

header {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #DDD;
	background: url(https://w-dog.ru/wallpapers/14/4/427359398735980/art-trava-fon-zelen-svet-iskry.jpg) no-repeat cover;
}

.container {
	border: 3px solid red;
	height: 100%;

		margin-right: 10%; 
	margin-left: 10%;
}

.container h1 {
	border: 3px solid green;
	text-align: center;
	font-size: 2em;

}