* {
    box-sizing: border-box;
}

body {
    color: #000;
    background-color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

header {
    text-align: center;
    background-color: rgba(255,255,255, 0.5);
    margin-bottom: 30px;

}

.content {
    border: 2px solid black;
    background-color: gray;
}

.content h2 {
    margin: 0;
    width: 150px;
    float: right;
    text-align: center;
    border: 2px solid black;
}

#d1 {
    background-color: pink;
}

#d2 {
    background-color: brown;
    color: white;
}

#d3 {
    background-color: khaki;
}

.content p {
    clear: right;
    padding: 10px;
}


.row {
    width: 100%;
    margin-bottom: 15px;
}

.col-lg-4, .col-lg-6, .col-lg-12,
.col-md-4, .col-md-6, .col-md-12,
.col-sm-4, .col-sm-6, .col-sm-12 {
    float: left;
    padding: 15px;
}

@media (min-width: 1200px) {
    .col-lg-4,.col-lg-6, .col-lg-12 {
    }
    .col-lg-4 {
        width: 33.33%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-12 {
        width: 100%;
    }
}

@media (min-width: 950px) and (max-width: 1199px) {
    .col-md-4, .col-md-6, .col-md-12 {
    }
    .col-md-4 {
        width: 33.33%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-12 {
        width: 100%;
    }
}

@media (min-width: 340px) and (max-width: 949px) {
    .col-sm-4, .col-sm-6, .col-sm-12 {

        /*border: 2px solid black;*/
    }
    .col-sm-4 {
        width: 33.33%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-12 {
        width: 100%;
    }
}